$메인컬러 : #ff0000;

.wow-enter {
    opacity: 0;
}

.wow-enter-active{
    opacity: 1;
}


.red {
    color: $메인컬러;
}

@mixin 함수() {
    background-color: #eeeeee;
    padding : 20px;
    border-radius : 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.my-alert {
    @include 함수()
}

.my-alert2 {
    @extend .my-alert;
    background : #ffe591;
}

.my-alert p {
    margin-bottom: 0;
}